Análise e Identificação de padrões/Identificação de Padrão.json
{
  "name": "Identificação de Padrão",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json[\"Titulo\"] }}",
        "options": {
          "systemMessage": "=## System\nVocê é um **Especialista em Engenharia de Conteúdo, Psicologia do Click e Modelagem de Estruturas Virais**.  \nSeu papel é analisar **títulos de vídeos de alta performance** e **identificar padrões replicáveis** com base em evidências observáveis.  \nVocê deve combinar **análise qualitativa (estrutural)** e **quantitativa (estatística)**, sem inferir dados externos (CTR, watchtime etc.).  \nSua resposta deve ser **JSON válido e parseável**, pronto para uso automatizado em um pipeline de geração de conteúdo.\n\n---\n\n## User\nAnalise os **quantidade títulos de melhor performance** do nicho: `nicho`.\n\n### 📋 Dados recebidos\nCada item contém:\n- **ID**  \n- **Título** (ou \"Titulo \")  \n- **outlierScore** (métrica de destaque)  \n- **Score Final** (0–100)  \n- **Flags** (metadados de oportunidade)\n\n---\n\n## 🎯 Objetivo\nGerar um **raio-x completo dos títulos vencedores**, revelando:\n1. **Padrões estruturais** (fórmulas narrativas)\n2. **Frequência e suporte estatístico**\n3. **Power words e gatilhos emocionais**\n4. **Elementos formais** (números, símbolos, formato)\n5. **Diretrizes práticas replicáveis**\n\n---\n\n## Processo\n\n1. **Selecione os TOP títulos**\n   - Use os *quantidade* com maior outlierScore\n2. **Analise cada título**, identificando:\n   - Estrutura narrativa (gatilho, número, tema, promessa, especificador)\n   - Gatilhos emocionais (curiosidade, medo, urgência, autoridade, prova social)\n   - Elementos formais (números, parênteses, dois-pontos, caps lock, aspas, interrogação)\n   - Power words (palavras recorrentes de impacto)\n   - Tipo de tema dominante (alimentos, exercícios, sintomas, vitaminas)\n3. **Agrupe títulos similares** por estrutura abstrata (ex: “Gatilho + Problema + Número + Solução”)\n4. **Calcule métricas globais:**\n   - Comprimento em caracteres e palavras (média, mediana, min, max)\n   - Frequência e percentual de cada elemento estrutural\n   - Ocorrências de power words\n5. **Classifique padrões:**\n   - Apenas inclua padrões com ≥ 6 ocorrências (≥ 12%)\n   - Outros padrões menores entram em `oportunidades_fracas`\n6. **Selecione as 3 melhores estruturas** (por outlierScore médio)\n7. **Gere o insight geral**, resumindo os achados de maior valor.\n\n---\n\n## 🧾 Saída esperada (JSON estrito)\n\n```json\n{\n  \"nicho\": \"string\",\n  \"amostras\": 50,\n  \"estatisticas_texto\": {\n    \"caracteres\": { \"media\": 0, \"mediana\": 0, \"min\": 0, \"max\": 0 },\n    \"palavras\": { \"media\": 0, \"mediana\": 0, \"min\": 0, \"max\": 0 }\n  },\n  \"padroes_estruturais\": [\n    {\n      \"ranking\": 1,\n      \"padrao\": \"Gatilho emocional + Problema + Número + Solução\",\n      \"descricao\": \"Usa gatilho de alerta seguido de número e promessa concreta.\",\n      \"frequencia\": 0,\n      \"percentual\": 0,\n      \"outlierScoreMedio\": 0,\n      \"scoreFinalMedio\": 0,\n      \"exemplos\": [\"...\", \"...\"],\n      \"elementosChave\": [\"gatilho\", \"numero\", \"beneficio\"],\n      \"diretriz\": \"Abra com um alerta ('ATENÇÃO', 'WARNING'), adicione um número e conclua com benefício específico.\",\n      \"por_que_funciona\": \"Combina urgência e clareza, ativando o cérebro de sobrevivência e oferecendo recompensa imediata.\"\n    }\n  ],\n  \"elementos_estruturais\": {\n    \"usa_numeros\": { \"contagem\": 0, \"percentual\": 0 },\n    \"usa_parenteses\": { \"contagem\": 0, \"percentual\": 0 },\n    \"usa_dois_pontos\": { \"contagem\": 0, \"percentual\": 0 },\n    \"usa_caps\": { \"contagem\": 0, \"percentual\": 0 },\n    \"usa_aspas\": { \"contagem\": 0, \"percentual\": 0 },\n    \"usa_interrogacao\": { \"contagem\": 0, \"percentual\": 0 },\n    \"listas_topX\": { \"contagem\": 0, \"percentual\": 0 }\n  },\n  \"gatilhos\": [\n    { \"nome\": \"curiosidade\", \"contagem\": 0, \"percentual\": 0, \"exemplos\": [\"...\"] },\n    { \"nome\": \"medo\", \"contagem\": 0, \"percentual\": 0, \"exemplos\": [\"...\"] },\n    { \"nome\": \"autoridade\", \"contagem\": 0, \"percentual\": 0, \"exemplos\": [\"...\"] },\n    { \"nome\": \"urgência\", \"contagem\": 0, \"percentual\": 0, \"exemplos\": [\"...\"] },\n    { \"nome\": \"prova_social\", \"contagem\": 0, \"percentual\": 0, \"exemplos\": [\"...\"] }\n  ],\n  \"power_words\": [\n    { \"termo\": \"warning\", \"contagem\": 0 },\n    { \"termo\": \"foods\", \"contagem\": 0 },\n    { \"termo\": \"after\", \"contagem\": 0 },\n    { \"termo\": \"fix\", \"contagem\": 0 }\n  ],\n  \"oportunidades_fracas\": [\n    { \"padrao\": \"Perguntas retóricas sobre sintomas\", \"contagem\": 0 }\n  ],\n  \"insights_gerais\": {\n    \"estrutura_mais_comum\": \"string\",\n    \"outlierScore_mais_alto\": 0,\n    \"elemento_mais_recorrente\": \"string\",\n    \"power_word_top\": \"string\",\n    \"resumo\": \"1–2 frases sobre por que esses padrões funcionam psicologicamente.\"\n  }\n}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        288,
        -736
      ],
      "id": "b9639291-42e3-4975-af66-f889f92dad58",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        352,
        -512
      ],
      "id": "ec43ffe3-9083-42b5-9ecb-8d6a1d2e37bb",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "CadVJxAMfFuUEGRV",
          "name": "Guilherme"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.Titulo }}",
        "options": {
          "systemMessage": "=## System\nVocê é um **Especialista em Engenharia de Conteúdo e Psicologia do Click**, especializado em **diagnosticar títulos ineficazes**.  \nSeu papel é identificar **erros estruturais**, **ausência de gatilhos** e **padrões que reduzem o desempenho** com base em evidências observáveis.  \nVocê trabalha **apenas com dados reais**, sem inferir métricas externas (CTR, watchtime etc.).  \nSua resposta deve ser **JSON válido e parseável**.\n\n---\n\n## User\nAnalise os **quantidade títulos de pior performance** do nicho: `nicho`.\n\n### 📋 Dados recebidos\nCada item contém:\n- **ID**  \n- **Título** (ou \"Titulo \")  \n- **outlierScore** (métrica de destaque)  \n- **Score Final** (0–100)  \n- **Flags** (metadados de oportunidade)\n\n---\n\n## 🎯 Objetivo\nGerar um **raio-x dos erros recorrentes** nos títulos de baixa performance, revelando:\n1. **Estruturas ineficazes ou genéricas**\n2. **Ausência de gatilhos e power words**\n3. **Problemas de formato e clareza**\n4. **Padrões linguísticos associados a baixo desempenho**\n5. **Oportunidades de reescrita e ajuste estrutural**\n\n---\n\n## Processo\n\n1. **Selecione os títulos de pior performance**\n   - Use os *quantidade* com menor outlierScore.\n2. **Analise cada título** para identificar:\n   - Falta de gatilho, número, promessa ou especificador.\n   - Frases genéricas, vagas ou sem diferencial emocional.\n   - Estruturas extensas, confusas ou desbalanceadas.\n   - Uso excessivo de palavras fracas (ex: “coisa”, “importante”, “veja”).\n   - Falta de foco (mistura de múltiplas ideias).\n3. **Agrupe títulos por padrão negativo:**\n   - Ex: “Sem gatilho + promessa vaga” ou “Informativo genérico sem emoção”.\n4. **Calcule estatísticas globais:**\n   - Comprimento médio em caracteres e palavras.\n   - Frequência de ausência de elementos (sem número, sem gatilho, etc.).\n   - Ocorrência de power words fracas.\n5. **Classifique os padrões:**\n   - Apenas inclua padrões negativos com ≥ 6 ocorrências (≥ 12%).\n   - Os menos recorrentes entram em `anomalias`.\n6. **Gere recomendações curtas e diretas** para corrigir os erros.\n\n---\n\n## 🧾 Saída esperada (JSON estrito)\n\n```json\n{\n  \"nicho\": \"string\",\n  \"amostras\": 50,\n  \"estatisticas_texto\": {\n    \"caracteres\": { \"media\": 0, \"mediana\": 0, \"min\": 0, \"max\": 0 },\n    \"palavras\": { \"media\": 0, \"mediana\": 0, \"min\": 0, \"max\": 0 }\n  },\n  \"padroes_negativos\": [\n    {\n      \"ranking\": 1,\n      \"padrao\": \"Sem gatilho + Promessa vaga\",\n      \"descricao\": \"Títulos que não despertam emoção nem comunicam benefício concreto.\",\n      \"frequencia\": 0,\n      \"percentual\": 0,\n      \"outlierScoreMedio\": 0,\n      \"scoreFinalMedio\": 0,\n      \"exemplos\": [\"...\", \"...\"],\n      \"problemas_comuns\": [\n        \"Falta de emoção\",\n        \"Sem número ou benefício específico\",\n        \"Palavras genéricas\"\n      ],\n      \"recomendacao\": \"Adicionar gatilho emocional e promessa clara de transformação.\",\n      \"impacto_estimado\": \"reduz engajamento inicial por falta de estímulo visual e emocional\"\n    }\n  ],\n  \"elementos_estruturais\": {\n    \"sem_numero\": { \"contagem\": 0, \"percentual\": 0 },\n    \"sem_gatilho\": { \"contagem\": 0, \"percentual\": 0 },\n    \"sem_promessa\": { \"contagem\": 0, \"percentual\": 0 },\n    \"muito_longo\": { \"contagem\": 0, \"percentual\": 0 },\n    \"titulo_confuso\": { \"contagem\": 0, \"percentual\": 0 },\n    \"usa_palavras_fracas\": { \"contagem\": 0, \"percentual\": 0 }\n  },\n  \"power_words_fracas\": [\n    { \"termo\": \"coisa\", \"contagem\": 0 },\n    { \"termo\": \"importante\", \"contagem\": 0 },\n    { \"termo\": \"veja\", \"contagem\": 0 },\n    { \"termo\": \"entenda\", \"contagem\": 0 }\n  ],\n  \"gatilhos_ausentes\": [\n    { \"nome\": \"curiosidade\", \"faltando_em\": 0, \"percentual\": 0 },\n    { \"nome\": \"urgência\", \"faltando_em\": 0, \"percentual\": 0 },\n    { \"nome\": \"autoridade\", \"faltando_em\": 0, \"percentual\": 0 },\n    { \"nome\": \"prova_social\", \"faltando_em\": 0, \"percentual\": 0 }\n  ],\n  \"anomalias\": [\n    { \"padrao\": \"Título excessivamente técnico\", \"ocorrencias\": 0 },\n    { \"padrao\": \"Mistura de dois temas sem conexão\", \"ocorrencias\": 0 }\n  ],\n  \"insights_gerais\": {\n    \"erro_mais_comum\": \"string\",\n    \"elemento_mais_ausente\": \"string\",\n    \"estrutura_mais_ineficaz\": \"string\",\n    \"resumo\": \"1–2 frases diretas sobre o que mais compromete a performance dos títulos.\"\n  }\n}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        288,
        -336
      ],
      "id": "99527eb2-2184-4649-b629-518aa10c359f",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        352,
        -112
      ],
      "id": "c947a3da-13bd-48b9-a8f3-7e7e5898079a",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "CadVJxAMfFuUEGRV",
          "name": "Guilherme"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        992,
        -448
      ],
      "id": "94d989bc-e743-4188-b6d9-5084e3247d0f",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d665e28b-7791-4e9d-9d82-7c6e6c1d6715",
              "name": "Análise Positiva de Titulos",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        704,
        -640
      ],
      "id": "479b0717-1f7f-4204-a5f1-34245ca874e5",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d665e28b-7791-4e9d-9d82-7c6e6c1d6715",
              "name": "Análise Negativa de Titulos",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        704,
        -240
      ],
      "id": "f1cbc7c7-e38c-4045-842d-7e1b1ea709c7",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1XlZTABwHA456bYCFRiS8BFLxynypmo65pXeBeRV1WkQ",
          "mode": "list",
          "cachedResultName": "Teste Dev IA Pleno",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XlZTABwHA456bYCFRiS8BFLxynypmo65pXeBeRV1WkQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 304295346,
          "mode": "list",
          "cachedResultName": "Dados ordenados ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XlZTABwHA456bYCFRiS8BFLxynypmo65pXeBeRV1WkQ/edit#gid=304295346"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -960,
        -448
      ],
      "id": "0ab01839-a8d1-4db4-9222-7de3d754b43a",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KrBqg4twP2wKcI6z",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "Titulo"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        0,
        -240
      ],
      "id": "b48d4878-34d3-414d-a635-c88529ce50ea",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "row_number",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        -512,
        -240
      ],
      "id": "62383e59-9e15-44e1-8790-694bbe835c45",
      "name": "Sort"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "Titulo"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        0,
        -640
      ],
      "id": "c64eb52c-a011-4177-92da-5dbe09227c59",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "96e6f450-4dfc-4009-8a76-3887f8508386",
              "name": "Titulo",
              "value": "={{ $json[\"Titulo \"] }}",
              "type": "string"
            },
            {
              "id": "38bb6d5f-61c9-4777-9b00-3e31e919ad76",
              "name": "row_number",
              "value": "={{ $json.row_number }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -736,
        -448
      ],
      "id": "53efeb70-de80-4f8d-8ac1-3ceadcee8d54",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1XlZTABwHA456bYCFRiS8BFLxynypmo65pXeBeRV1WkQ",
          "mode": "list",
          "cachedResultName": "Teste Dev IA Pleno",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XlZTABwHA456bYCFRiS8BFLxynypmo65pXeBeRV1WkQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 304295346,
          "mode": "list",
          "cachedResultName": "Dados ordenados ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XlZTABwHA456bYCFRiS8BFLxynypmo65pXeBeRV1WkQ/edit#gid=304295346"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1088,
        464
      ],
      "id": "4bec978b-9cb5-42c8-9618-d07e1f085c13",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KrBqg4twP2wKcI6z",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "96e6f450-4dfc-4009-8a76-3887f8508386",
              "name": "",
              "value": "={{ $json.Thumb }}",
              "type": "string"
            },
            {
              "id": "38bb6d5f-61c9-4777-9b00-3e31e919ad76",
              "name": "row_number",
              "value": "={{ $json.row_number }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -864,
        464
      ],
      "id": "727c538f-df81-40ee-b5ab-bc670a223700",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "=<persona>\nVocê é um Especialista em Análise Visual e Engenharia de Clicks, com foco em entender thumbnails de vídeos e identificar os elementos visuais que mais atraem a atenção. \nSeu papel é descrever de forma objetiva e estruturada tudo que aparece na imagem, destacando os aspectos que contribuem para o desempenho e o engajamento visual. \nSua análise é usada como insumo para IA de criação de conteúdo, então precisão e consistência são essenciais.\n</persona>\n\n<objetivo>\nGerar uma descrição detalhada e técnica da imagem (thumbnail) e, em seguida, um resumo padronizado com os elementos visuais mais relevantes para o engajamento.\n</objetivo>\n\n<regras_e_diretrizes>\n✅ Descreva **tudo que for visualmente identificável**, de forma neutra e analítica: pessoas, expressões, poses, objetos, cores, texto, símbolos, e composições.\n✅ **Não interprete intenções** (ex: \"parece triste\"), apenas descreva o que é visível (ex: \"expressão facial neutra, boca levemente curvada para baixo\").\n✅ Identifique **composição e layout**: enquadramento (close-up, plano médio, corpo inteiro), posicionamento (texto à esquerda, pessoa centralizada, elemento no canto inferior direito).\n✅ Liste **cores predominantes** e contraste entre fundo e elementos.\n✅ Se houver texto na imagem, transcreva exatamente o que aparece (mesmo se for parcial).\n✅ Aponte **elementos visuais de destaque** usados para chamar atenção (setas, círculos, emojis, objetos apontando, brilho, bordas coloridas, etc.).\n✅ Gere tags visuais curtas (1 a 3 palavras) para facilitar classificação.\n✅ Estruture o output em formato JSON padronizado.\n❌ Não invente elementos ou contextos que não estão visíveis.\n❌ Não insira interpretações emocionais, previsões ou opiniões.\n\n</regras_e_diretrizes>\n\n<formato_saida>\nRetorne a resposta neste formato JSON:\n\n{\n  \"descricao_detalhada\": \"Descrição completa da cena, incluindo pessoas, objetos, texto, expressões, layout e composição.\",\n  \"tags_visuais\": [\"close-up\", \"texto-grande\", \"seta-vermelha\", \"antes-depois\"],\n  \"cores_predominantes\": [\"vermelho\", \"branco\", \"amarelo\"],\n  \"texto_detectado\": \"WARNING! Weak Legs? Fix It Fast!\",\n  \"composicao\": {\n    \"enquadramento\": \"plano médio, sujeito à direita\",\n    \"layout\": \"texto à esquerda, pessoa à direita, fundo desfocado\",\n    \"contraste\": \"alto contraste (vermelho e branco)\",\n    \"elementos_destaque\": [\"seta vermelha\", \"círculo\", \"emoji de alerta\"]\n  },\n  \"gancho_visual\": \"seta vermelha apontando para a perna de uma pessoa\",\n  \"resumo_visual\": \"Thumbnail com fundo claro, pessoa à direita e texto em vermelho grande à esquerda, com setas e círculos destacando uma área específica do corpo.\"\n}\n</formato_saida>\n",
        "imageUrls": "={{ $json[\"\"] }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        224,
        384
      ],
      "id": "f86b72e9-a068-4701-a80e-73b21a3de04d",
      "name": "Analyze image",
      "credentials": {
        "openAiApi": {
          "id": "KLswP7RvatbPMtON",
          "name": "Renato"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Pega apenas os 10 primeiros itens do input\nconst limit = 50;\nreturn $input.all().slice(0, limit);\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -640,
        464
      ],
      "id": "09f16d94-cfe4-43ba-8469-96f3d1d4355d",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -416,
        464
      ],
      "id": "5cbc6c3e-8de2-451a-a5b9-cec04698528c",
      "name": "Loop Over Items2"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1XlZTABwHA456bYCFRiS8BFLxynypmo65pXeBeRV1WkQ",
          "mode": "list",
          "cachedResultName": "Teste Dev IA Pleno",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XlZTABwHA456bYCFRiS8BFLxynypmo65pXeBeRV1WkQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 304295346,
          "mode": "list",
          "cachedResultName": "Dados ordenados ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XlZTABwHA456bYCFRiS8BFLxynypmo65pXeBeRV1WkQ/edit#gid=304295346"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Loop Over Items2').item.json.row_number }}",
            "Transcrição": "=",
            "DescriçãoThumb": "={{ $json.content }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Linha",
              "displayName": "Linha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Titulo ",
              "displayName": "Titulo ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Thumb",
              "displayName": "Thumb",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DescriçãoThumb",
              "displayName": "DescriçãoThumb",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Transcrição",
              "displayName": "Transcrição",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "FormatoVideo",
              "displayName": "FormatoVideo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "EngajamentoRate",
              "displayName": "EngajamentoRate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LikeRate",
              "displayName": "LikeRate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CommetRate",
              "displayName": "CommetRate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "totalEngagement",
              "displayName": "totalEngagement",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "totalEngagementRate",
              "displayName": "totalEngagementRate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "viewsPerDay",
              "displayName": "viewsPerDay",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "outlierScore",
              "displayName": "outlierScore",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Score Final",
              "displayName": "Score Final",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ClassificaçãoGeral",
              "displayName": "ClassificaçãoGeral",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Classificação",
              "displayName": "Classificação",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Flags",
              "displayName": "Flags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        864,
        448
      ],
      "id": "77fc28b5-7265-47d5-8c19-e0a73c825e14",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KrBqg4twP2wKcI6z",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d0f156df-4b16-479f-b3e8-89146aeccb5a",
              "leftValue": "={{ $('Get row(s) in sheet1').item.json[\"DescriçãoThumb\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -128,
        384
      ],
      "id": "d962ebc3-8d16-40df-9b7f-c1ec4bd90bb1",
      "name": "If"
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        576,
        384
      ],
      "id": "bc3fe1d9-2731-4ff3-93eb-519955d8507d",
      "name": "Wait",
      "webhookId": "22491baf-a98d-4ef7-b94b-535e2a955f03"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -128,
        192
      ],
      "id": "8b1bed9d-d2cf-41e3-86bd-de979014e1fd",
      "name": "Aggregate2"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1XlZTABwHA456bYCFRiS8BFLxynypmo65pXeBeRV1WkQ",
          "mode": "list",
          "cachedResultName": "Teste Dev IA Pleno",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XlZTABwHA456bYCFRiS8BFLxynypmo65pXeBeRV1WkQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 304295346,
          "mode": "list",
          "cachedResultName": "Dados ordenados ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XlZTABwHA456bYCFRiS8BFLxynypmo65pXeBeRV1WkQ/edit#gid=304295346"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        224,
        192
      ],
      "id": "5f71a574-4377-4945-88c5-631985855f83",
      "name": "Get row(s) in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KrBqg4twP2wKcI6z",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "96e6f450-4dfc-4009-8a76-3887f8508386",
              "name": "DescriçãoThumb",
              "value": "={{ $json[\"DescriçãoThumb\"] }}",
              "type": "string"
            },
            {
              "id": "38bb6d5f-61c9-4777-9b00-3e31e919ad76",
              "name": "row_number",
              "value": "={{ $json.row_number }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        576,
        192
      ],
      "id": "1df9a9bd-ba56-4014-8faa-6a60aa581994",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "jsCode": "// Pega apenas os 10 primeiros itens do input\nconst limit = 50;\nreturn $input.all().slice(0, limit);\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        192
      ],
      "id": "74f665d4-a4a9-430f-8c87-b9b96d08fca3",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json[\"DescriçãoThumb\"] }}",
        "options": {
          "systemMessage": "=<persona>\nVocê é um Analista de Padrões Visuais especializado em thumbnails de vídeos, com foco em identificar os elementos visuais que geram alto ou baixo engajamento. \nSua função é comparar descrições de imagens (thumbnails) e extrair padrões de forma objetiva, detectando quais elementos se repetem em thumbnails de alto desempenho e quais aparecem em thumbnails de baixo desempenho. \nVocê atua como um \"cientista de padrões visuais\", não como um designer subjetivo.\n</persona>\n\n<objetivo>\nAnalisar as descrições detalhadas de thumbnails fornecidas, identificar os padrões visuais recorrentes entre as de alto desempenho e contrastá-los com as de baixo desempenho. \nO objetivo é gerar um relatório de padrões replicáveis e anti-padrões a evitar, com justificativas baseadas em observações diretas dos dados.\n</objetivo>\n\n<regras_e_diretrizes>\n✅ **Baseado em dados reais**: Cada padrão identificado deve se basear em observações concretas nas descrições (ex: \"80% das thumbnails vencedoras têm fundo claro com texto vermelho grande\").  \n✅ **Comparativo**: Sempre destaque o contraste entre o que funciona e o que falha.  \n✅ **Estruturado**: Classifique os padrões por categoria visual (ex: Cores, Composição, Texto, Elementos de Destaque, Enquadramento, Emoções Visuais).  \n✅ **Linguagem objetiva e acionável** — não diga “fica bonito” ou “atraente”, diga **por que** atrai: (ex: “contraste alto vermelho/branco facilita leitura rápida no feed”).  \n✅ **Nada de achismos**: não infira intenção do criador, apenas descreva o impacto provável com base nas evidências.  \n✅ **Aplique método comparativo**:  \n- Para cada categoria, liste os padrões dos “Top Thumbnails” e os dos “Bottom Thumbnails”.  \n- Em seguida, extraia uma **diretriz replicável** e uma **regra de omissão (o que evitar)**.  \n✅ **Saída sempre em JSON** com estrutura padronizada.\n\n</regras_e_diretrizes>\n\n<formato_input>\nVocê receberá um JSON com duas listas de thumbnails:\n\n{\n  \"top_thumbnails\": [\n    { \"descricao_detalhada\": \"...\", \"tags_visuais\": [...], \"cores_predominantes\": [...], \"texto_detectado\": \"...\", \"gancho_visual\": \"...\", \"resumo_visual\": \"...\" },\n    ...\n  ],\n  \"bottom_thumbnails\": [\n    { \"descricao_detalhada\": \"...\", \"tags_visuais\": [...], \"cores_predominantes\": [...], \"texto_detectado\": \"...\", \"gancho_visual\": \"...\", \"resumo_visual\": \"...\" },\n    ...\n  ]\n}\n</formato_input>\n\n<formato_saida>\nResponda em JSON seguindo exatamente esta estrutura:\n\n{\n  \"padrões_visuais\": {\n    \"cores\": {\n      \"top\": [\"fundo claro com texto vermelho\", \"contraste alto\"],\n      \"bottom\": [\"fundo escuro e sem contraste\"],\n      \"diretriz\": \"Usar fundo claro e cores quentes de alto contraste aumenta a legibilidade no feed.\",\n      \"por_que_funciona\": \"As thumbnails de sucesso apresentam contraste visual forte e cores vibrantes que destacam texto e rosto.\"\n    },\n    \"composicao\": {\n      \"top\": [\"pessoa centralizada\", \"texto grande à esquerda\", \"close-up\"],\n      \"bottom\": [\"texto pequeno\", \"vários elementos dispersos\"],\n      \"diretriz\": \"Usar composição simples com foco em 1 elemento principal.\",\n      \"por_que_funciona\": \"Facilita a leitura e compreensão instantânea mesmo em miniaturas pequenas.\"\n    },\n    \"texto\": {\n      \"top\": [\"palavras curtas\", \"fontes grandes e legíveis\", \"uso de caps moderado\"],\n      \"bottom\": [\"frases longas\", \"muitos símbolos ou fontes finas\"],\n      \"diretriz\": \"Limitar o texto a 2–4 palavras grandes e legíveis.\",\n      \"por_que_funciona\": \"Aumenta a clareza e impacto em dispositivos móveis.\"\n    },\n    \"elementos_destaque\": {\n      \"top\": [\"setas vermelhas\", \"círculos de foco\", \"emoji de alerta\"],\n      \"bottom\": [\"sem foco visual claro\", \"elementos confusos ou genéricos\"],\n      \"diretriz\": \"Usar um elemento de foco visual forte (seta, círculo ou contraste direcional).\",\n      \"por_que_funciona\": \"Guiar o olhar do espectador aumenta a taxa de clique.\"\n    },\n    \"expressões_ou_sujeitos\": {\n      \"top\": [\"rosto com emoção visível (surpresa, curiosidade)\", \"expressão intensa\"],\n      \"bottom\": [\"sem rosto ou expressão neutra\"],\n      \"diretriz\": \"Usar expressões humanas claras e emoção perceptível.\",\n      \"por_que_funciona\": \"Thumbnails com emoção humana facilitam empatia e aumentam cliques.\"\n    }\n  },\n  \"anti_padrões\": [\n    \"Evitar textos longos ou ilegíveis\",\n    \"Evitar fundos escuros com pouco contraste\",\n    \"Evitar excesso de elementos que dificultam foco visual\"\n  ],\n  \"insight_geral\": \"As thumbnails de sucesso compartilham contraste alto, foco central em pessoas com emoção visível, uso moderado de texto grande e cores quentes. Já as de baixo desempenho são confusas, com textos longos e cores frias de baixo contraste.\"\n}\n</formato_saida>\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1312,
        192
      ],
      "id": "78055383-da73-45da-a959-9e875686827c",
      "name": "AI Agent2"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1392,
        416
      ],
      "id": "6c8cecb9-5c6d-417b-a9f8-a762049ea4c5",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "CadVJxAMfFuUEGRV",
          "name": "Guilherme"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "DescriçãoThumb"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1088,
        192
      ],
      "id": "f4848451-edda-4e97-a629-5c8782b3a624",
      "name": "Aggregate3"
    },
    {
      "parameters": {
        "jsCode": "// Pega apenas os 10 primeiros itens do input\nconst limit = 50;\nreturn $input.all().slice(0, limit);\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -288,
        -240
      ],
      "id": "401e70ae-c1f9-42bf-abdc-5671848500a7",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "jsCode": "// Pega apenas os 10 primeiros itens do input\nconst limit = 50;\nreturn $input.all().slice(0, limit);\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -288,
        -640
      ],
      "id": "c87455ab-bf5d-4fe8-a85f-c1dea648db3f",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1XlZTABwHA456bYCFRiS8BFLxynypmo65pXeBeRV1WkQ",
          "mode": "list",
          "cachedResultName": "Teste Dev IA Pleno",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XlZTABwHA456bYCFRiS8BFLxynypmo65pXeBeRV1WkQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1109606750,
          "mode": "list",
          "cachedResultName": "IDentificação de padrões",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XlZTABwHA456bYCFRiS8BFLxynypmo65pXeBeRV1WkQ/edit#gid=1109606750"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": 2,
            "Thumb": "={{ $json.output }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "TituloPositivo",
              "displayName": "TituloPositivo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "TituloNegativo",
              "displayName": "TituloNegativo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Thumb",
              "displayName": "Thumb",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Roteiro",
              "displayName": "Roteiro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1664,
        192
      ],
      "id": "85d43415-1aa4-4e90-a776-934a6463dad0",
      "name": "Update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KrBqg4twP2wKcI6z",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1XlZTABwHA456bYCFRiS8BFLxynypmo65pXeBeRV1WkQ",
          "mode": "list",
          "cachedResultName": "Teste Dev IA Pleno",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XlZTABwHA456bYCFRiS8BFLxynypmo65pXeBeRV1WkQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1109606750,
          "mode": "list",
          "cachedResultName": "IDentificação de padrões",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XlZTABwHA456bYCFRiS8BFLxynypmo65pXeBeRV1WkQ/edit#gid=1109606750"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "TituloPositivo": "={{ $json[\"Análise Positiva de Titulos\"] }}",
            "TituloNegativo": "={{ $json[\"Análise Negativa de Titulos\"] }}",
            "row_number": 2
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "TituloPositivo",
              "displayName": "TituloPositivo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "TituloNegativo",
              "displayName": "TituloNegativo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Thumb",
              "displayName": "Thumb",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Roteiro",
              "displayName": "Roteiro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Lacunas",
              "displayName": "Lacunas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1216,
        -448
      ],
      "id": "b1b02d6d-ad79-4fbf-83fb-07fd5c27e91b",
      "name": "Update row in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KrBqg4twP2wKcI6z",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getTranscript",
        "videoId": "={{ $('Loop Over Items').item.json.Link }}",
        "text": true
      },
      "type": "n8n-nodes-supadata.supadata",
      "typeVersion": 1,
      "position": [
        224,
        1096
      ],
      "id": "45771d5e-64fa-4039-8d4b-cbeccf964728",
      "name": "Get video transcript",
      "credentials": {
        "supadataApi": {
          "id": "xy8kftd2RceKVAid",
          "name": "Supadata account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1XlZTABwHA456bYCFRiS8BFLxynypmo65pXeBeRV1WkQ",
          "mode": "list",
          "cachedResultName": "Teste Dev IA Pleno",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XlZTABwHA456bYCFRiS8BFLxynypmo65pXeBeRV1WkQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 304295346,
          "mode": "list",
          "cachedResultName": "Dados ordenados ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XlZTABwHA456bYCFRiS8BFLxynypmo65pXeBeRV1WkQ/edit#gid=304295346"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1088,
        1220
      ],
      "id": "a156b55d-f0ff-4264-bf8e-bfc97451a01f",
      "name": "Get row(s) in sheet3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KrBqg4twP2wKcI6z",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0b010699-a676-427a-bc4c-823817b5dbb6",
              "name": "Link",
              "value": "={{ $json.Link }}",
              "type": "string"
            },
            {
              "id": "6e67b510-aac3-4129-b51c-37d7247b9acd",
              "name": "row_number",
              "value": "={{ $json.row_number }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -864,
        1220
      ],
      "id": "35603298-8ba1-4c1c-8cbd-4e0b8afc91ea",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "jsCode": "// Pega apenas os 10 primeiros itens do input\nconst limit = 50;\nreturn $input.all().slice(0, limit);\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -640,
        1220
      ],
      "id": "cfa614e8-95eb-4759-ab9d-c310f734f576",
      "name": "Code in JavaScript4"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -416,
        1220
      ],
      "id": "e9d3ab77-b48a-4664-a905-b17898e2c37c",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Loop Over Items').item.json.Link }}",
        "options": {
          "systemMessage": "=# 🎯 Função\nVocê é um **Analista de Estrutura Narrativa de Vídeos do YouTube**.  \nSua tarefa é **ler a transcrição completa de um vídeo** e **mapear a estrutura narrativa e lógica do roteiro** — ou seja, como o conteúdo é organizado, dividido e comunicado.\n\n⚠️ **Importante:**  \n- NÃO gere título.  \n- NÃO faça suposições.  \n- Baseie-se **apenas** no conteúdo da transcrição.  \n- O foco é **entender o roteiro** e como o vídeo se desenrola, não o tema em si.\n\n---\n\n## 📥 Entrada\nTranscrição textual completa do vídeo (sem cortes).\n\n---\n\n## 🧩 Etapas de Análise\n\n### 1️⃣ Identificação das Seções\n- Divida o vídeo em blocos/seções coerentes.\n- Nomeie cada bloco com um **título descritivo**.\n- Informe o **tempo aproximado de início** (se disponível).\n- Descreva:\n  - **Tipo de conteúdo:** educacional, técnico, motivacional, promocional, storytelling, etc.\n  - **Função:** introdução, explicação, demonstração, exemplo, CTA (chamada para ação), conclusão, etc.\n  - **Descrição:** o que acontece e qual o propósito comunicativo da seção.\n\n### 2️⃣ Extração de Conteúdo\n- Liste os **tópicos principais** (conceitos, temas e ideias-chave).\n- Liste os **conceitos técnicos** ou termos importantes mencionados.\n\n### 3️⃣ Análise de Fluxo\n- Descreva **como o vídeo progride**:\n  - As transições são suaves ou abruptas?\n  - Existe um padrão lógico (problema → solução → reforço → CTA)?\n  - O apresentador reforça ideias, dá exemplos, faz pausas estratégicas?\n\n### 4️⃣ Síntese Estrutural\n- Resuma a **mensagem central** (em uma frase).\n- Descreva:\n  - **estratégiaNarrativa:** estrutura geral (ex: tutorial linear, storytelling, problema-solução, jornada, etc.)\n  - **estiloDeEntrega:** (ex: técnico, didático, emocional, informal)\n  - **estruturaResumo:** versão compacta do fluxo em uma linha (ex: Introdução > Explicação > Aplicação > Conclusão)\n\n---\n\n## 🧾 Saída esperada (em JSON estrito)\n\n```json\n{\n  \"mensagemCentral\": \"string (resumo em 1 frase)\",\n  \"estrutura\": [\n    {\n      \"secao\": \"string (nome da seção)\",\n      \"inicioAprox\": \"string (ex: '00:00')\",\n      \"tipo\": \"string (ex: educacional, técnico, motivacional)\",\n      \"funcao\": \"string (ex: introdução, explicação, CTA)\",\n      \"descricao\": \"string (resumo do que ocorre na seção)\"\n    }\n  ],\n  \"tópicosPrincipais\": [\"string\"],\n  \"conceitosTecnicos\": [\"string\"],\n  \"analiseFluxo\": \"string (descrição do progresso do vídeo e transições)\",\n  \"estrategiaNarrativa\": \"string (modelo estrutural adotado)\",\n  \"estiloDeEntrega\": \"string (tom geral da apresentação)\",\n  \"estruturaResumo\": \"string (resumo linear da estrutura)\"\n}\n⚙️ Regras e Validações\nProibido gerar “titulo” → se o modelo criar esse campo, ignore ou remova.\n\nEvite redundância: se duas seções tiverem mesmo propósito, agrupe.\n\nSe a transcrição tiver timestamps (00:00, 02:30, etc), use-os como delimitadores de seções.\n\nSe não houver timestamps, divida por lógica de conteúdo (mudança de tópico ou tom).\n\nUse frases curtas e linguagem técnica, sem floreios.\n\nSempre retorne um JSON válido e bem formatado.\n\n✅ Exemplo de Saída\njson\nCopiar código\n{\n  \"mensagemCentral\": \"Manter pernas fortes e um estilo de vida saudável com nutrição e exercícios previne o declínio físico do envelhecimento.\",\n  \"estrutura\": [\n    {\n      \"secao\": \"Introdução e Contextualização\",\n      \"inicioAprox\": \"00:00\",\n      \"tipo\": \"motivacional/educacional\",\n      \"funcao\": \"Apresentar o problema do enfraquecimento das pernas e gerar engajamento.\",\n      \"descricao\": \"O apresentador destaca o impacto da perda muscular e convida o público à ação.\"\n    },\n    {\n      \"secao\": \"Explicação Científica\",\n      \"inicioAprox\": \"02:00\",\n      \"tipo\": \"técnico\",\n      \"funcao\": \"Apresentar fundamentos biológicos e fisiológicos.\",\n      \"descricao\": \"Fala sobre sarcopenia e perda de densidade óssea, apoiado em estudos.\"\n    },\n    {\n      \"secao\": \"Aplicação Prática - Exercícios e Nutrição\",\n      \"inicioAprox\": \"10:00\",\n      \"tipo\": \"instrutivo\",\n      \"funcao\": \"Ensinar como aplicar os conceitos em práticas cotidianas.\",\n      \"descricao\": \"Explica exercícios, alimentação e hábitos diários para manter força muscular.\"\n    },\n    {\n      \"secao\": \"Conclusão e CTA\",\n      \"inicioAprox\": \"25:00\",\n      \"tipo\": \"motivacional\",\n      \"funcao\": \"Encerrar com reforço e convite à ação.\",\n      \"descricao\": \"Reforça a importância da consistência e convida à inscrição e comentários.\"\n    }\n  ],\n  \"tópicosPrincipais\": [\"sarcopenia\", \"força muscular\", \"nutrição\", \"exercícios\", \"longevidade\"],\n  \"conceitosTecnicos\": [\"colágeno\", \"isometria\", \"vitamina D\", \"cálcio\"],\n  \"analiseFluxo\": \"O vídeo segue de um gancho motivacional para uma explicação técnica e encerra com aplicações práticas e CTA. As transições são suaves e bem conectadas.\",\n  \"estrategiaNarrativa\": \"Problema → Explicação → Solução prática → Reforço/CTA\",\n  \"estiloDeEntrega\": \"Didático e técnico, com tom inspirador.\",\n  \"estruturaResumo\": \"Introdução > Explicação > Aplicação > Conclusão\"\n}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        512,
        1096
      ],
      "id": "ffe102df-ed7c-4cd3-866f-962d866f95eb",
      "name": "AI Agent3"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        584,
        1320
      ],
      "id": "a0e9b798-6462-4c92-8b93-fcf7d0a96ff8",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "CadVJxAMfFuUEGRV",
          "name": "Guilherme"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1XlZTABwHA456bYCFRiS8BFLxynypmo65pXeBeRV1WkQ",
          "mode": "list",
          "cachedResultName": "Teste Dev IA Pleno",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XlZTABwHA456bYCFRiS8BFLxynypmo65pXeBeRV1WkQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 304295346,
          "mode": "list",
          "cachedResultName": "Dados ordenados ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XlZTABwHA456bYCFRiS8BFLxynypmo65pXeBeRV1WkQ/edit#gid=304295346"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Transcrição": "={{ $json.output }}",
            "row_number": "={{ $('Loop Over Items').item.json.row_number }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Titulo ",
              "displayName": "Titulo ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Thumb",
              "displayName": "Thumb",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DescriçãoThumb",
              "displayName": "DescriçãoThumb",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Transcrição",
              "displayName": "Transcrição",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "FormatoVideo",
              "displayName": "FormatoVideo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "EngajamentoRate",
              "displayName": "EngajamentoRate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LikeRate",
              "displayName": "LikeRate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CommetRate",
              "displayName": "CommetRate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "totalEngagement",
              "displayName": "totalEngagement",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "totalEngagementRate",
              "displayName": "totalEngagementRate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "viewsPerDay",
              "displayName": "viewsPerDay",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "outlierScore",
              "displayName": "outlierScore",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Score Final",
              "displayName": "Score Final",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ClassificaçãoGeral",
              "displayName": "ClassificaçãoGeral",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Classificação",
              "displayName": "Classificação",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Flags",
              "displayName": "Flags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1088,
        1200
      ],
      "id": "5006c915-8d15-4050-92ba-55b5b453b96f",
      "name": "Update row in sheet3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KrBqg4twP2wKcI6z",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "amount": 60
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        864,
        1096
      ],
      "id": "af07d6bf-aee9-4f2d-9ca0-b046d9d939c4",
      "name": "Wait1",
      "webhookId": "5e9dedc2-9806-45a6-85d6-f15b921841ce"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "899a5be4-14a2-4d90-affb-d687bfa39d9d",
              "leftValue": "={{ $('Get row(s) in sheet3').item.json[\"Transcrição\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -128,
        1096
      ],
      "id": "ee6d34a4-a3cd-42c7-a262-113f63d7e999",
      "name": "If1"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -128,
        800
      ],
      "id": "93ef7d18-96f9-4f46-b2c8-f3f4cb0b4f30",
      "name": "Aggregate4"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1XlZTABwHA456bYCFRiS8BFLxynypmo65pXeBeRV1WkQ",
          "mode": "list",
          "cachedResultName": "Teste Dev IA Pleno",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XlZTABwHA456bYCFRiS8BFLxynypmo65pXeBeRV1WkQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 304295346,
          "mode": "list",
          "cachedResultName": "Dados ordenados ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XlZTABwHA456bYCFRiS8BFLxynypmo65pXeBeRV1WkQ/edit#gid=304295346"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        224,
        800
      ],
      "id": "b842fd69-7727-464b-9e6d-18f3af9d7f63",
      "name": "Get row(s) in sheet4",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KrBqg4twP2wKcI6z",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "96e6f450-4dfc-4009-8a76-3887f8508386",
              "name": "Transcrição",
              "value": "={{ $json[\"Transcrição\"] }}",
              "type": "string"
            },
            {
              "id": "38bb6d5f-61c9-4777-9b00-3e31e919ad76",
              "name": "row_number",
              "value": "={{ $json.row_number }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        576,
        800
      ],
      "id": "804a3168-f1bc-48f0-ba25-f9751eec27fe",
      "name": "Edit Fields6"
    },
    {
      "parameters": {
        "jsCode": "// Pega apenas os 10 primeiros itens do input\nconst limit = 50;\nreturn $input.all().slice(0, limit);\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        800
      ],
      "id": "ab18a792-be69-4485-a123-d889733dbc7d",
      "name": "Code in JavaScript5"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json[\"Transcrição\"] }}",
        "options": {
          "systemMessage": "=<persona>\nVocê é um Analista de Padrões Narrativos especializado em roteiros de vídeos para YouTube, com foco em identificar os elementos estruturais e retóricos que geram alto ou baixo desempenho.  \nSua função é comparar as estruturas de vídeos bem-sucedidos (top vídeos) e os de baixo desempenho (bottom vídeos), detectando padrões recorrentes e anomalias de forma objetiva, baseada em dados observáveis.  \nVocê atua como um **“cientista de estrutura narrativa”**, não como roteirista criativo.\n</persona>\n\n<objetivo>\nAnalisar as estruturas de roteiro de vídeos fornecidas e identificar:\n- Os **padrões estruturais, comunicativos e retóricos** que se repetem entre os vídeos de melhor desempenho;\n- Os **anti-padrões** (erros estruturais, ausências ou excessos) observados nos vídeos de baixo desempenho;\n- Gerar diretrizes práticas e replicáveis para a criação de roteiros mais eficazes.\n\n</objetivo>\n\n<regras_e_diretrizes>\n✅ **Baseado em dados observáveis** — todos os padrões devem vir de repetições reais nas estruturas analisadas (ex: “80% dos vídeos de sucesso têm introduções com gancho emocional e CTA em até 30s”).  \n✅ **Comparativo e contrastivo** — sempre destacar diferenças entre vídeos “Top” e “Bottom”.  \n✅ **Classificação por categoria estrutural** — organize os padrões por tipo (Abertura, Desenvolvimento, Call to Action, Transições, Tom e Ritmo, etc.).  \n✅ **Linguagem objetiva e acionável** — não diga “roteiro envolvente”, diga **por que**: (ex: “uso de perguntas no início aumenta a retenção”).  \n✅ **Nada de achismos** — não infira intenção do criador, apenas o padrão estrutural observado.  \n✅ **Formato padronizado e em JSON** — deve seguir a estrutura abaixo.\n\n</regras_e_diretrizes>\n\n<formato_input>\nO agente receberá um JSON com duas listas:\n\n{\n  \"top_roteiros\": [\n    { \"mensagemCentral\": \"...\", \"estrutura\": [...], \"estrategiaNarrativa\": \"...\", \"estiloDeEntrega\": \"...\", \"estruturaResumo\": \"...\" },\n    ...\n  ],\n  \"bottom_roteiros\": [\n    { \"mensagemCentral\": \"...\", \"estrutura\": [...], \"estrategiaNarrativa\": \"...\", \"estiloDeEntrega\": \"...\", \"estruturaResumo\": \"...\" },\n    ...\n  ]\n}\n</formato_input>\n\n<formato_saida>\nA resposta deve ser um JSON com a seguinte estrutura:\n\n{\n  \"padrões_narrativos\": {\n    \"abertura\": {\n      \"top\": [\"gancho emocional em até 0:30s\", \"promessa clara de transformação\", \"uso de pergunta provocativa\"],\n      \"bottom\": [\"introdução longa sem objetivo\", \"sem gancho ou conexão emocional\"],\n      \"diretriz\": \"Começar com gancho claro e promessa de benefício dentro dos primeiros 30 segundos.\",\n      \"por_que_funciona\": \"Os vídeos de sucesso retêm atenção inicial ao criar curiosidade imediata e alinhar expectativa.\"\n    },\n    \"desenvolvimento\": {\n      \"top\": [\"estrutura linear problema → explicação → solução\", \"transições suaves entre tópicos\", \"uso de exemplos práticos\"],\n      \"bottom\": [\"saltos temáticos\", \"ausência de estrutura clara\", \"excesso de informação sem contexto\"],\n      \"diretriz\": \"Manter progressão lógica com transições claras e exemplos concretos.\",\n      \"por_que_funciona\": \"Mantém o espectador engajado e reduz frustração cognitiva.\"\n    },\n    \"tom_e_ritmo\": {\n      \"top\": [\"equilíbrio entre técnico e emocional\", \"uso de pausas e variação de energia\"],\n      \"bottom\": [\"monotonia de fala\", \"linguagem excessivamente técnica\"],\n      \"diretriz\": \"Equilibrar conteúdo técnico com emoção e ritmo de fala variado.\",\n      \"por_que_funciona\": \"Variação de tom aumenta retenção e aproxima o público.\"\n    },\n    \"transicoes\": {\n      \"top\": [\"uso de frases conectoras (ex: 'agora que você entendeu…')\", \"retomadas curtas de contexto\"],\n      \"bottom\": [\"mudanças bruscas de tema\", \"ausência de conectores lógicos\"],\n      \"diretriz\": \"Usar transições verbais que conectem seções e reforcem o fluxo lógico.\",\n      \"por_que_funciona\": \"Garante fluidez narrativa e compreensão contínua.\"\n    },\n    \"call_to_action\": {\n      \"top\": [\"CTA natural ao final com reforço positivo\", \"convite à interação contextualizado\"],\n      \"bottom\": [\"CTA genérico ou ausente\", \"pedido de inscrição desconectado do tema\"],\n      \"diretriz\": \"Conectar o CTA ao conteúdo do vídeo de forma contextual e positiva.\",\n      \"por_que_funciona\": \"Transforma engajamento em ação sem quebrar o fluxo emocional.\"\n    }\n  },\n  \"anti_padrões\": [\n    \"Evitar introduções longas e sem propósito\",\n    \"Evitar explicações técnicas sem contextualização prática\",\n    \"Evitar mudanças bruscas de assunto sem transição clara\",\n    \"Evitar CTAs genéricos ou forçados\"\n  ],\n  \"insight_geral\": \"Os roteiros de sucesso seguem uma sequência clara de gancho inicial, desenvolvimento lógico e conclusão com CTA contextualizado. Mantêm equilíbrio entre técnica e emoção, com ritmo dinâmico e transições suaves. Os roteiros de baixo desempenho são lineares demais, frios e desorganizados, com introduções lentas e CTAs desconectados.\"\n}\n</formato_saida>"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1312,
        800
      ],
      "id": "b35f4e91-06a3-499a-93ef-b080c2843001",
      "name": "AI Agent4"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1384,
        1024
      ],
      "id": "57d5037e-50d3-4bed-bf33-4394ff39285d",
      "name": "OpenAI Chat Model4",
      "credentials": {
        "openAiApi": {
          "id": "CadVJxAMfFuUEGRV",
          "name": "Guilherme"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "Transcrição"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1088,
        800
      ],
      "id": "53eebed2-1f19-4f5c-a21a-2a036fa28f4e",
      "name": "Aggregate5"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1XlZTABwHA456bYCFRiS8BFLxynypmo65pXeBeRV1WkQ",
          "mode": "list",
          "cachedResultName": "Teste Dev IA Pleno",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XlZTABwHA456bYCFRiS8BFLxynypmo65pXeBeRV1WkQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1109606750,
          "mode": "list",
          "cachedResultName": "IDentificação de padrões",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XlZTABwHA456bYCFRiS8BFLxynypmo65pXeBeRV1WkQ/edit#gid=1109606750"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": 2,
            "Thumb": "=",
            "Roteiro": "={{ $json.output }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "TituloPositivo",
              "displayName": "TituloPositivo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "TituloNegativo",
              "displayName": "TituloNegativo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Thumb",
              "displayName": "Thumb",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Roteiro",
              "displayName": "Roteiro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1664,
        800
      ],
      "id": "a6b34f8f-a25e-416c-9da9-d6ad1e11876c",
      "name": "Update row in sheet4",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KrBqg4twP2wKcI6z",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.data }}",
        "options": {
          "systemMessage": "=<role> Você é um **Normalizador de Oportunidades**. Seu papel é transformar padrões de n-gramas detectados automaticamente em **lacunas temáticas consolidadas** — agrupadas, contextualizadas e pontuadas — para o agente gerador de ideias. </role>\n<input> Você receberá um objeto JSON com duas partes:\n{\n  \"resumo\": {\n    \"totalVideosBase\": number,\n    \"p75\": number,\n    \"p90\": number\n  },\n  \"padroesRarosFortes\": [\n    {\n      \"ngrama\": \"string\",\n      \"ocorrencias\": number,\n      \"presentesNosTop\": number,\n      \"outlierScoreMedio\": number,\n      \"exemplos\": [\"string\", \"string\", \"string\"]\n    }\n  ]\n}\n\n\nEsses dados vêm do analisador de benchmark e representam padrões reais observados em vídeos de um mesmo subnicho (ex: weak legs).\nOs n-gramas podem conter combinações de termos em inglês ou português, e já foram filtrados por relevância.\n</input>\n\n<task>\n\nSua tarefa é consolidar esses n-gramas em temas acionáveis, extraindo o contexto e produzindo uma lista de lacunas temáticas de alto potencial.\n\nEtapas:\n\nAgrupar n-gramas semelhantes:\n\nUse a semelhança semântica ou tokens-chave para unir expressões relacionadas.\n\nExemplo:\n\n“vitamin combo”, “legs vitamin” → “vitaminas que fortalecem pernas fracas”\n\n“climb stairs”, “stairs easily” → “subir escadas com facilidade”\n\nCalcular métricas consolidadas:\n\nvideosExistentes: soma das ocorrências.\n\npercentualDaBase: (videosExistentes / totalVideosBase) × 100.\n\noutlierScoreMedio: média ponderada das pontuações do grupo.\n\nconcorrencia:\n\n< 2% → “baixa”\n\n2–5% → “media”\n\n5% → “alta”\n\nexemplos: até 3 títulos reais mais representativos.\n\nPontuar e ranquear:\n\nBase = 50\n\n+25 se outlierScoreMedio >= p90\n\n+15 se outlierScoreMedio >= p75\n\n+15 se percentualDaBase < 2\n\n+10 se percentualDaBase < 5\n\nScore final limitado entre 60 e 95.\n\nProduzir 10 lacunas principais:\n\nOrdenadas por scoreEstimado (descendente).\n\nUsar nomes de tema claros e compreensíveis.\n\nNão inventar termos não presentes nos dados.\n\nTraduzir títulos ou termos para português quando fizer sentido.\n\n</task>\n\n<output_format>\n\n{\n  \"nicho\": \"weak legs / idosos\",\n  \"data_analise\": \"YYYY-MM-DD\",\n  \"benchmarks\": { \"p75\": number, \"p90\": number },\n  \"baseAnalisada\": number,\n  \"lacunas\": [\n    {\n      \"ranking\": number,\n      \"tema\": \"string\",\n      \"videosExistentes\": number,\n      \"percentualDaBase\": number,\n      \"outlierScoreMedio\": number,\n      \"concorrencia\": \"baixa|media|alta\",\n      \"exemplos\": [\"string\", \"string\", \"string\"],\n      \"scoreEstimado\": number\n    }\n  ]\n}\n\n\n</output_format>\n\n<regras_criticas>\n✅ Use apenas dados fornecidos — não crie informações externas.\n✅ Mantenha nomes de tema curtos e práticos.\n✅ Sempre retorne 10 lacunas no máximo.\n✅ Traduza termos técnicos em linguagem natural (ex: “weak shaky legs” → “pernas fracas e trêmulas”).\n✅ Priorize temas que combinam alta performance (outlierScoreMedio) e baixa concorrência.\n❌ Não misture subnichos diferentes.\n❌ Não invente títulos de vídeo — use apenas exemplos reais.\n</regras_criticas>"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -128,
        1744
      ],
      "id": "1e613b1e-daa0-4764-ac5e-f60426f97379",
      "name": "AI Agent6"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -48,
        1968
      ],
      "id": "9a846229-85d0-4131-893a-440c17ef2769",
      "name": "OpenAI Chat Model6",
      "credentials": {
        "openAiApi": {
          "id": "CadVJxAMfFuUEGRV",
          "name": "Guilherme"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1XlZTABwHA456bYCFRiS8BFLxynypmo65pXeBeRV1WkQ",
          "mode": "list",
          "cachedResultName": "Teste Dev IA Pleno",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XlZTABwHA456bYCFRiS8BFLxynypmo65pXeBeRV1WkQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 304295346,
          "mode": "list",
          "cachedResultName": "Dados ordenados ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XlZTABwHA456bYCFRiS8BFLxynypmo65pXeBeRV1WkQ/edit#gid=304295346"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1024,
        1744
      ],
      "id": "286c191d-caa9-4db8-a230-f4cad3fea9a7",
      "name": "Get row(s) in sheet6",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KrBqg4twP2wKcI6z",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "38bb6d5f-61c9-4777-9b00-3e31e919ad76",
              "name": "row_number",
              "value": "={{ $json.row_number }}",
              "type": "number"
            },
            {
              "id": "96e6f450-4dfc-4009-8a76-3887f8508386",
              "name": "Titulo",
              "value": "={{ $json[\"Titulo \"] }}",
              "type": "string"
            },
            {
              "id": "d734fda8-fffb-4793-a9e2-a430c6b7ab5e",
              "name": "outlierScore",
              "value": "={{ $json.outlierScore }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -800,
        1744
      ],
      "id": "ca59cfab-b69a-4d0b-ba01-d5c456ec118c",
      "name": "Edit Fields8"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// PADRÕES RAROS-FORTES (N-GRAMAS) DENTRO DA PRÓPRIA BASE\n// Focado no subnicho \"weak legs\" (ou similar) — evita caudas de canal\n// Input por item: { \"Titulo\" ou \"Titulo \", outlierScore, [ID|id opcional] }\n// Saída: padroesRarosFortes (n-gramas existentes, raros e fortes)\n// ============================================================\n\nconst START = Date.now();\n\n// ---------- Parâmetros ----------\nconst CFG = {\n  NGRAMS: [2, 3],        // bigramas e trigramas\n  RARE_MIN: 2,           // ocorrências mínimas para considerar padrão\n  RARE_MAX: 6,           // ocorrências máximas (raridade)\n  REQUIRE_TOP_HIT: true, // exigir que apareça pelo menos 1x nos TOPs\n  TOP_RATIO: 0.10,       // TOP = 10% da base (mín. 1, máx. 50)\n  MIN_CHARS_TOKEN: 2,    // tamanho mínimo do token\n  STOPWORDS_PT_EN: true, // ignora stopwords PT/EN\n  RETURN_LIMIT: 20       // quantos padrões retornar\n};\n\n// ---------- Delimitadores de sufixo (cortes de cauda) ----------\nconst SUFFIX_SEPARATORS = [\" | \", \" - \", \" — \", \" – \", \"|\", \" -\", \"- \", \"—\", \"–\", \"•\"];\n\n// ---------- Âncoras de DOMÍNIO (pelo menos 1 deve estar no n-grama) ----------\nconst DOMAIN_ANCHORS = new Set([\n  // EN\n  \"leg\",\"legs\",\"weak\",\"shaky\",\"balance\",\"stairs\",\"climb\",\"walk\",\"walking\",\"fall\",\"falls\",\n  \"pain\",\"numb\",\"tingling\",\"knee\",\"knees\",\"hip\",\"hips\",\"ankle\",\"ankles\",\"calf\",\"hamstring\",\"glute\",\n  \"exercise\",\"exercises\",\"workout\",\"stretch\",\"stretches\",\"strengthen\",\"strength\",\"mobility\",\n  \"vitamin\",\"vitamins\",\"collagen\",\"foods\",\"food\",\"fruits\",\"veggies\",\"diet\",\n  // PT (se houver títulos em PT na base)\n  \"perna\",\"pernas\",\"fraca\",\"fracas\",\"equilibrio\",\"equilíbrio\",\"escadas\",\"subir\",\"andar\",\"queda\",\"quedas\",\n  \"joelho\",\"joelhos\",\"quadril\",\"quadris\",\"tornozelo\",\"panturrilha\",\"alongamento\",\"exercicio\",\"exercicios\",\n  \"exercício\",\"exercícios\",\"fortalecer\",\"força\",\"forca\",\"mobilidade\",\"vitamina\",\"vitaminas\",\"alimentos\",\"frutas\"\n]);\n\n// ---------- RUÍDO / CAUDA de canal / nomes próprios frequentes ----------\nconst NOISE_TOKENS = new Set([\n  \"love\",\"senior\",\"seniors\",\"health\",\"tips\",\"usa\",\"american\",\"americans\",\n  \"dr\",\"william\",\"li\",\"shi\",\"heng\",\"yi\",\"motivation\",\"channel\",\"best\",\"top\",\"video\",\"guide\"\n]);\n\n// ---------- Stopwords ----------\nconst STOP = new Set(CFG.STOPWORDS_PT_EN ? [\n  // PT\n  'o','a','os','as','um','uma','uns','umas','de','da','do','das','dos','para','por','com','sem','em','no','na','nos','nas',\n  'e','ou','que','como','mais','muito','muita','seu','sua','seus','suas','este','esta','esse','essa','aquele','aquela',\n  'você','voce','se','é','são','foi','ser','tem','têm','tambem','também','porque','pra','pro','nao','não','ao','aos',\n  // EN\n  'the','a','an','and','or','but','in','on','at','to','for','of','with','by','from','as','is','was','are','be','been',\n  'have','has','had','do','does','did','will','would','should','can','could','may','might','must','this','that','these','those',\n  'i','you','he','she','it','we','they','my','your','his','her','its','our','their','what','which','who','when','where','why','how'\n] : []);\n\n// ---------- Utils ----------\nfunction norm(s){\n  return (s || \"\")\n    .toLowerCase()\n    .normalize(\"NFD\").replace(/[\\u0300-\\u036f]/g,\"\") // remove acentos\n    .replace(/[^a-z0-9\\s\\|\\-\\—\\–]/gi,\" \")           // preserva separadores para corte\n    .replace(/\\s+/g,\" \")\n    .trim();\n}\n\n// corta sufixos de canal/autor após separadores (fica só o “miolo do título”)\nfunction stripSuffixes(titleNorm){\n  let t = titleNorm;\n  for (const sep of SUFFIX_SEPARATORS){\n    const idx = t.indexOf(sep);\n    if (idx > -1) {\n      t = t.substring(0, idx).trim();\n      break; // corta no primeiro separador encontrado\n    }\n  }\n  return t;\n}\n\nfunction tokenize(rawTitle){\n  const n = norm(rawTitle);\n  const core = stripSuffixes(n);\n  const t = core.split(\" \").filter(w => w && w.length > CFG.MIN_CHARS_TOKEN && !STOP.has(w));\n  return t;\n}\n\nfunction extractNgrams(tokens, n){\n  const out = [];\n  for (let i=0;i<=tokens.length-n;i++){\n    out.push(tokens.slice(i,i+n).join(\" \"));\n  }\n  return out;\n}\nfunction mean(a){ return a.length ? a.reduce((x,y)=>x+y,0)/a.length : 0; }\nfunction percentile(arr, p){\n  if (!arr.length) return 0;\n  const a = [...arr].sort((x,y)=>x-y);\n  const idx = Math.ceil((p/100)*a.length) - 1;\n  return Number((a[Math.max(0, Math.min(idx, a.length-1))] || 0).toFixed(2));\n}\n\n// helpers domínio/ruído\nfunction hasAnchor(ng){\n  return ng.split(\" \").some(tok => DOMAIN_ANCHORS.has(tok));\n}\nfunction hasNoise(ng){\n  return ng.split(\" \").some(tok => NOISE_TOKENS.has(tok));\n}\n\n// ---------- Carregar base ----------\nconst items = $input.all();\nconst base = items.map((it, idx) => {\n  const j = it.json || {};\n  const tituloRaw = j[\"Titulo \"] ?? j[\"Titulo\"] ?? j[\"titulo\"] ?? j[\"title\"] ?? \"\";\n  const titulo = (tituloRaw || \"\").toString().trim();\n  const outlierScore = Number(j.outlierScore ?? j[\"Pontuação atípica\"] ?? 0) || 0;\n  const id = j.ID ?? j.id ?? `v_${idx}`;\n  const tokens = tokenize(titulo);\n  return { id, titulo, tokens, outlierScore };\n}).filter(v => v.titulo && !isNaN(v.outlierScore));\n\nconst total = base.length;\nif (!total) return [{ json: { resumo: { totalVideosBase: 0 }, padroesRarosFortes: [] } }];\n\n// ---------- Benchmarks (da própria base) ----------\nconst outliers = base.map(v => v.outlierScore);\nconst p50 = percentile(outliers,50);\nconst p75 = percentile(outliers,75);\nconst p90 = percentile(outliers,90);\n\n// ---------- Top K ----------\nbase.sort((a,b)=>b.outlierScore - a.outlierScore);\nconst topK = Math.max(1, Math.min(Math.round(total*CFG.TOP_RATIO), 50));\nconst topIds = new Set(base.slice(0, topK).map(v => v.id));\n\n// ---------- Mapear n-gramas EXATOS do núcleo do título ----------\nconst maps = {}; // {2: Map, 3: Map}\nfor (const n of CFG.NGRAMS) maps[n] = new Map();\n\nfor (const v of base){\n  for (const n of CFG.NGRAMS){\n    const grams = extractNgrams(v.tokens, n);\n    grams.forEach(g => {\n      // filtros de domínio / ruído já na coleta\n      if (!hasAnchor(g) || hasNoise(g)) return;\n\n      let m = maps[n].get(g);\n      if (!m) {\n        m = { n, key: g, count: 0, countTop: 0, outliers: [], titles: new Set(), ids: new Set() };\n        maps[n].set(g, m);\n      }\n      m.count++;\n      m.outliers.push(v.outlierScore);\n      m.titles.add(v.titulo);\n      m.ids.add(v.id);\n      if (topIds.has(v.id)) m.countTop++;\n    });\n  }\n}\n\n// ---------- Seleção: padrões raros + presentes nos TOPs + fortes (≥ p75) ----------\nfunction pickRareStrong(list){\n  const out = [];\n  for (const m of list.values()){\n    if (m.count < CFG.RARE_MIN || m.count > CFG.RARE_MAX) continue;\n    if (CFG.REQUIRE_TOP_HIT && m.countTop < 1) continue;\n\n    const outMed = Number(mean(m.outliers).toFixed(2));\n    const banda = outMed >= p90 ? \"p90+\" : (outMed >= p75 ? \"p75+\" : \"subp75\");\n    if (banda === \"subp75\") continue; // mantém só p75+\n\n    out.push({\n      n: m.n,\n      ngrama: m.key,                 // forma EXATA (normalizada) extraída do “miolo” do título\n      count: m.count,\n      countTop: m.countTop,\n      outlierMedio: outMed,\n      exemplos: Array.from(m.titles).slice(0,3), // títulos reais\n      exemploIds: Array.from(m.ids).slice(0,3),\n      banda\n    });\n  }\n  // rank: força > outlier médio > raridade (menor count) > presença nos tops\n  out.sort((a,b) => (\n    (b.banda === \"p90+\") - (a.banda === \"p90+\") ||\n    b.outlierMedio - a.outlierMedio ||\n    a.count - b.count ||\n    b.countTop - a.countTop\n  ));\n  return out;\n}\n\n// juntar bigramas e trigramas num único pool\nlet candidatos = [];\nfor (const n of CFG.NGRAMS) candidatos = candidatos.concat(pickRareStrong(maps[n]));\n\n// Garantia: só com exemplos reais\ncandidatos = candidatos.filter(c => c.exemplos && c.exemplos.length > 0);\n\n// ---------- Score de oportunidade (raridade + força + presença nos TOPs) ----------\nfunction scoreOportunidade(c){\n  const rare = Math.max(0, CFG.RARE_MAX - (c.count - CFG.RARE_MIN));                 // quanto mais raro no range, melhor\n  const rareNorm = rare / (CFG.RARE_MAX - CFG.RARE_MIN + 1);                          // 0..1\n  const strength = (c.outlierMedio >= p90) ? 1.0 : ((c.outlierMedio >= p75) ? 0.7 : 0.0); // força por banda\n  const topBoost = Math.min(1, c.countTop / Math.max(1, Math.min(c.count, 3)));       // favorece quando aparece nos tops\n  // base 50 + (0..25 raridade) + (0..20 força) + (0..10 topBoost)\n  const s = 50 + (25*rareNorm) + (20*strength) + (10*topBoost);\n  return Math.round(Math.max(60, Math.min(95, s)));\n}\n\nconst padroesRarosFortes = candidatos\n  .slice(0, CFG.RETURN_LIMIT)\n  .map((c, i) => ({\n    ranking: i+1,\n    n: c.n,\n    ngrama: c.ngrama,\n    ocorrencias: c.count,\n    presentesNosTop: c.countTop,\n    outlierScoreMedio: c.outlierMedio,\n    banda: c.banda,                 // \"p90+\" ou \"p75+\"\n    exemplos: c.exemplos,           // títulos reais\n    scoreEstimado: scoreOportunidade(c)\n  }));\n\n// ---------- Saída ----------\nconst out = {\n  resumo: {\n    totalVideosBase: total,\n    topConsiderados: topK,\n    p50, p75, p90,\n    criterios: {\n      ngrams: CFG.NGRAMS,\n      raridade: { min: CFG.RARE_MIN, max: CFG.RARE_MAX },\n      exigeTop: CFG.REQUIRE_TOP_HIT,\n      filtroForca: \">= p75\",\n      corteSufixo: SUFFIX_SEPARATORS\n    }\n  },\n  padroesRarosFortes\n};\n\nconst ELAPSED = ((Date.now()-START)/1000).toFixed(2);\nconsole.log(`✅ Padrões raros-fortes gerados em ${ELAPSED}s | base=${total} | top=${topK}`);\npadroesRarosFortes.slice(0,5).forEach(p => console.log(`   • ${p.ngrama} | n=${p.n} | occ=${p.ocorrencias} | top=${p.presentesNosTop} | outMed=${p.outlierScoreMedio} | score=${p.scoreEstimado}`));\n\nreturn [{ json: out }];\n\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -576,
        1744
      ],
      "id": "bb5ad1ee-c3a4-4c1f-a798-3131ad060621",
      "name": "Code in JavaScript7"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -352,
        1744
      ],
      "id": "f4bf06e1-86b5-4b7b-87e1-cc18fb17b700",
      "name": "Aggregate7"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1XlZTABwHA456bYCFRiS8BFLxynypmo65pXeBeRV1WkQ",
          "mode": "list",
          "cachedResultName": "Teste Dev IA Pleno",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XlZTABwHA456bYCFRiS8BFLxynypmo65pXeBeRV1WkQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1109606750,
          "mode": "list",
          "cachedResultName": "IDentificação de padrões",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XlZTABwHA456bYCFRiS8BFLxynypmo65pXeBeRV1WkQ/edit#gid=1109606750"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Lacunas": "={{ $json.output }}",
            "row_number": 2
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "TituloPositivo",
              "displayName": "TituloPositivo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TituloNegativo",
              "displayName": "TituloNegativo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Thumb",
              "displayName": "Thumb",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Roteiro",
              "displayName": "Roteiro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lacunas",
              "displayName": "Lacunas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        288,
        1744
      ],
      "id": "2422b875-d5ee-4629-a040-72039308e292",
      "name": "Update row in sheet5",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KrBqg4twP2wKcI6z",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1XlZTABwHA456bYCFRiS8BFLxynypmo65pXeBeRV1WkQ",
          "mode": "list",
          "cachedResultName": "Teste Dev IA Pleno",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XlZTABwHA456bYCFRiS8BFLxynypmo65pXeBeRV1WkQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 304295346,
          "mode": "list",
          "cachedResultName": "Dados ordenados ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XlZTABwHA456bYCFRiS8BFLxynypmo65pXeBeRV1WkQ/edit#gid=304295346"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -1536,
        904
      ],
      "id": "e0958ab7-32ce-4d7e-9043-d1b80133edbf",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "6Z6MEbvijNLMdskV",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -1312,
        904
      ],
      "id": "a5132134-8e55-4444-a520-cd27207c7465",
      "name": "Aggregate6"
    },
    {
      "parameters": {
        "content": "## Identificação de Padrões de Performance de Títulos",
        "height": 992,
        "width": 2976
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1136,
        -880
      ],
      "typeVersion": 1,
      "id": "e7159a79-740c-4c8b-8928-a51f75385025",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Análise de Miniaturas & Padrões Visuais",
        "height": 608,
        "width": 2976,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1136,
        112
      ],
      "typeVersion": 1,
      "id": "b4f82154-8595-46e4-82e6-119e5efd28dc",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "##  Análise de Estrutura e Gatilhos dos Roteiros",
        "height": 752,
        "width": 2976,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1136,
        720
      ],
      "typeVersion": 1,
      "id": "3a50d704-6895-4908-8416-2af2e4aa64cb",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "##  Normalização de Oportunidades (n-gramas → lacunas temáticas)",
        "height": 752,
        "width": 2976,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1136,
        1472
      ],
      "typeVersion": 1,
      "id": "4fe669ad-b9d0-4c07-98e2-a6086200d4f4",
      "name": "Sticky Note3"
    }
  ],
  "pinData": {
    "AI Agent2": [
      {
        "json": {
          "output": "{\n  \"padrões_visuais\": {\n    \"cores\": {\n      \"top\": [\n        \"uso frequente de fundos escuros (preto, gradientes escuros)\",\n        \"texto em cores vibrantes e contrastantes (amarelo, vermelho, branco)\",\n        \"combinação frequente de vermelho e amarelo para ênfase\",\n        \"uso pontual de verdes para destacarem alimentos\",\n        \"presença consistente de alto contraste texto/fundo\"\n      ],\n      \"bottom\": [\n        \"fundos com menos destaque ou gradientes simples porém menos contraste\",\n        \"uso de cores menos saturadas ou combinação que não destaca texto claramente\",\n        \"cores frias menos vibrantes predominando\",\n        \"menos uso de cores quentes para ênfase\"\n      ],\n      \"diretriz\": \"Utilizar fundos escuros ou com gradientes ricos que amplifiquem o contraste com o texto em cores quentes e vibrantes (vermelho, amarelo, branco) para garantir legibilidade e destaque rápido.\",\n      \"por_que_funciona\": \"O alto contraste com cores vivas cuida da leitura rápida e atrai foco imediato no feed, onde a competição visual é intensa.\"\n    },\n    \"composicao\": {\n      \"top\": [\n        \"layout assimétrico com texto grande à esquerda e sujeito à direita\",\n        \"close-up ou plano médio focalizando uma pessoa com expressão clara\",\n        \"uso de elementos de destaque como setas vermelhas direcionando atenção\",\n        \"separação clara entre texto e imagem para facilitar varredura visual\",\n        \"uso de layouts divididos para destacar alimento ou objetos relevantes\",\n        \"foco visual em 1-2 elementos principais equilibrados\"\n      ],\n      \"bottom\": [\n        \"composições mais confusas ou com muitos elementos\",\n        \"ausência de foco claro, vários objetos disputando atenção\",\n        \"elementos com enquadramento distante ou disperso\",\n        \"texto pequeno, disperso ou em múltiplas partes sem hierarquia clara\"\n      ],\n      \"diretriz\": \"Optar por composição simples e clara, geralmente com texto à esquerda e sujeito ou objeto principal à direita, usando close-ups/plano médio para destacar as expressões faciais e manter o foco no aspecto humano ou no produto.\",\n      \"por_que_funciona\": \"Simplicidade e foco facilitam a compreensão instantânea da mensagem mesmo em tamanhos pequenos da thumbnail.\"\n    },\n    \"texto\": {\n      \"top\": [\n        \"texto curto, direto e impactante em poucas palavras (2–6 palavras-chave)\",\n        \"uso de fontes grandes, negrito e maiúsculas para facilitar leitura\",\n        \"texto colorido em combinação contrastante (ex: amarelo/vermelho/branco)\",\n        \"frases segmentadas com destaques (caixas coloridas, faixas) para segmentar leitura\",\n        \"uso moderado de múltiplas cores no texto para hierarquia visual clara\",\n        \"alguns casos com chamadas urgentes (ex: 'EAT THIS NOW!')\"\n      ],\n      \"bottom\": [\n        \"textos muito longos ou com múltiplas linhas confusas\",\n        \"fontes finas, pequenas ou sem hierarquia visual clara\",\n        \"uso excessivo de cores sem contraste ou combinação confusa\",\n        \"textos mal distribuídos dificultando leitura rápida\"\n      ],\n      \"diretriz\": \"Manter o texto curto e em palavras-chave impactantes com fontes grandes e cores de alto contraste para permitir leitura rápida e compreensão imediata.\",\n      \"por_que_funciona\": \"Textos claros e objetivos são assimilados rapidamente ao navegar, aumentando o engajamento em dispositivos móveis.\"\n    },\n    \"elementos_destaque\": {\n      \"top\": [\n        \"setas vermelhas ou de cor vibrante usadas para apontar áreas ou objetos relevantes\",\n        \"caixas coloridas ou faixas para destacar palavras ou frases-chave\",\n        \"círculos amarelos ou coloridos para foco em partes específicas da imagem\",\n        \"uso de pequenos ícones ou símbolos (ex: check verde) para validar informação\",\n        \"cores vibrantes e elementos gráficos para guiar o olhar\"\n      ],\n      \"bottom\": [\n        \"raramente elementos diretores claros\",\n        \"ausência de elementos visuais que guiam o foco\",\n        \"eventuais elementos genéricos sem impacto visual (ex: múltiplos objetos dispersos)\"\n      ],\n      \"diretriz\": \"Integrar um único elemento de direcionamento visual forte, como seta vermelha ou círculo, para guiar o olhar do espectador à informação-chave ou produto.\",\n      \"por_que_funciona\": \"Guiar visualmente o espectador reduz a dispersão e aumenta a probabilidade de clique por foco imediato.\"\n    },\n    \"expressões_ou_sujeitos\": {\n      \"top\": [\n        \"presença marcante de pessoas (geralmente adultos ou idosos) em close-up ou plano médio\",\n        \"expressões faciais neutras a levemente sorridentes, que transmitem confiança e seriedade\",\n        \"posições com gestos apontando para texto ou objetos\",\n        \"uso frequente de profissionais de saúde com jalecos para autoridade\",\n        \"raramente expressões neutras sem emoção clara, porém sempre com olhar direto ou atenção ao espectador\"\n      ],\n      \"bottom\": [\n        \"presença reduzida ou ausência de sujeitos humanos\",\n        \"expressões faciais pouco definidas, ou sujeitos distantes/pequenos\",\n        \"expressões pouco envolventes ou ausência de conexão visual com espectador\"\n      ],\n      \"diretriz\": \"Incluir pessoas com expressões faciais direcionadas e levemente emotivas (confiança ou leve positividade), enfatizando conexão visual com o espectador para aumentar a empatia.\",\n      \"por_que_funciona\": \"Face humana com expressão sutil estimula conexão emocional rápida, aumentando chance de engajamento.\"\n    }\n  },\n  \"anti_padrões\": [\n    \"Evitar fundos que não suportam alto contraste ou usam cores frias pouco destacadas\",\n    \"Não sobrecarregar a thumbnail com múltiplos elementos ou textos longos e complexos\",\n    \"Evitar fontes pequenas, finas ou pouco legíveis em miniaturas\",\n    \"Não usar composições dispersas que dificultam foco visual instantâneo\",\n    \"Evitar ausência de elementos visuais direcionadores (setas, círculos)\",\n    \"Evitar expressões faciais neutras e distantes sem conexão visual clara\"\n  ],\n  \"insight_geral\": \"Thumbnails de alto desempenho são altamente contrastadas, combinam fundos escuros com textos vibrantes em vermelho, amarelo e branco, apresentam composições simples com foco assymétrico em texto à esquerda e sujeito à direita, usam expressões faciais humanas claras e envolventes, e incluem elementos de destaque visuais que guiam o olhar (setas, círculos). Em contraponto, thumbnails de baixo desempenho apresentam composições confusas, texto longo ou mal distribuído, ausência de elementos diretores, fundos com pouca variação ou baixo contraste e falta de conexão emocional visual.\"\n}"
        }
      }
    ]
  },
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [
          {
            "node": "Aggregate2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate2": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet2": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Aggregate3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate3": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Update row in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet2": {
      "main": [
        []
      ]
    },
    "Update row in sheet1": {
      "main": [
        []
      ]
    },
    "Get row(s) in sheet3": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Code in JavaScript4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript4": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Aggregate4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get video transcript": {
      "main": [
        [
          {
            "node": "AI Agent3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent3": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet3": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Update row in sheet3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Get video transcript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate4": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet4": {
      "main": [
        [
          {
            "node": "Edit Fields6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript5": {
      "main": [
        [
          {
            "node": "Aggregate5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent4",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate5": {
      "main": [
        [
          {
            "node": "AI Agent4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields6": {
      "main": [
        [
          {
            "node": "Code in JavaScript5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent4": {
      "main": [
        [
          {
            "node": "Update row in sheet4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model6": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent6",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet6": {
      "main": [
        [
          {
            "node": "Edit Fields8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields8": {
      "main": [
        [
          {
            "node": "Code in JavaScript7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript7": {
      "main": [
        [
          {
            "node": "Aggregate7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate7": {
      "main": [
        [
          {
            "node": "AI Agent6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent6": {
      "main": [
        [
          {
            "node": "Update row in sheet5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Aggregate6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate6": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get row(s) in sheet3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get row(s) in sheet6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "dfe8b4f2-a72b-469b-bf13-d73501668665",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c5d6c53e60bd1d3aa2e715f321339a9825e6c2e5b18beaf3f0749145af2adffd"
  },
  "id": "LtsmxxIjJpcaluiQ",
  "tags": []
}